 /* Estilos personalizados para el contenedor del Select2 */
 .select2-container {
     width: 100% !important;
     border-radius: 5px;
     border-color: gray;
     /* Ancho completo */
 }

 /* Estilos para la lista desplegable */
 .select2-dropdown {
     border-radius: 5px;
     border-color: gray;

 }

 /* Estilos para las opciones de la lista desplegable */
 .select2-results__option {
     padding: 0;
     margin: 0;
     font-size: 12px;
     /* Tamaño de fuente personalizado */
     text-align: left;
     border-radius: 5px;
     border-color: gray;
     /* Alineación a la derecha */
 }

 /* Estilos para el cuadro de búsqueda en la lista desplegable */
 .select2-search__field {
     width: 100% !important;
     padding: 0;
     margin: 0;
     font-size: 12px;
     /* Tamaño de fuente personalizado */
     text-align: left;
     /* Alineación a la derecha */
     width: 100%;
     padding-right: 30px;
     border-radius: 5px;
     border-color: gray;
 }

 /* Estilos para el cuadro seleccionado */
 .select2-selection__rendered {
     padding: 0;
     margin: 0;
     font-size: 12px;
     /* Tamaño de fuente personalizado */
     text-align: left;
     border-radius: 5px;
     border-color: gray;
 }

 /* Estilos para evitar el desplazamiento horizontal */
 .select2-results {
     overflow-x: hidden;
 }

 .form-control {
    border-radius: 5px;
    border-color: rgb(155, 152, 152);
    padding: 0;
    margin: 0;
    font-size: 12px;
    height: 28px !important;
    /* Tamaño de fuente personalizado */
    text-align: left;
    /* Alineación a la izquierda */
}


 .form-control-ta {
     border-radius: 5px;
     border-color: rgb(155, 152, 152);
     padding: 0;
     margin: 0;
     font-size: 12px;
     height: 50px !important;
     /* Tamaño de fuente personalizado */
     text-align: left;
     /* Alineación a la izquierda */
 }

 #nempresa {
     background-color: rgb(0, 188, 212);
     color: white;
     border-radius: 12px;
     font-size: 12px;
     height: 30px;
     padding: 2px;
 }

 #btnagregar {
     background-color: rgb(121, 134, 203);
     color: white;
     border-radius: 12px;
     font-size: 12px;
     height: 25px;
     width: 28%;
     margin: 0;
     padding: 2px;
     border-color: rgb(121, 134, 203);
     cursor: pointer;
 }

 #btnagregar:hover {
     background-color: #692879;
     /* Cambiar el color de fondo cuando el mouse está sobre el botón */
     border-color: #692879;
 }

 .dotted {
     border: none;
     border-top: 1px dotted #999;
     /* Ancho y color de la línea punteada */
     color: #fff;
     /* Color del fondo para ocultar la línea sólida predeterminada en algunos navegadores */
     background-color: #fff;
     /* Color del fondo para ocultar la línea sólida predeterminada en algunos navegadores */
     height: 1px;
     /* Altura de la línea punteada */
     margin: 20px 0;
     /* Margen superior e inferior */
 }

 #lblttl {
     font-size: 16px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 #ttlspan {
     background-color: rgb(214, 72, 126);
     color: white;
     width: 22px;
 }

 #ttlvlr {
     color: rgb(109, 146, 211)
 }

 table td {
     font-size: 12px;
 }

 table th {
     font-size: 13px;
     /*background-color: rgb(2, 136, 209) !important;*/
     color: black;
     padding: 10px;
     text-align: left;
     height: 15px;
 }

 table {
     border-collapse: collapse;
     width: 100%;
     overflow: scroll;
 }

 th,
 td {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 25px;
     /* Ajusta el valor de padding según tus preferencias */
 }

 #btndocumentos {
     font-size: 12px;
     background-color: rgb(57, 73, 171);
     border-radius: 15px;
     border-color: rgb(57, 73, 171);
 }

 #btndocumentos:hover {
     background-color: rgb(57, 73, 275);
     border-color: rgb(57, 73, 275);
 }

 #btnpiegpag {
     background-color: rgb(0, 188, 212) !important;
     border-color: rgb(0, 188, 212) !important;
     font-size: 12px;
     padding: 3px;
 }

 .divcontainer {
     width: 90%;
     margin: auto;

 }

 body {
     background-color: rgb(244, 244, 249) !important;
     /* Cambia el color a tu preferencia */
     margin: 0;
     /* Elimina el margen predeterminado del cuerpo */
     padding: 0;
     /* Elimina el relleno predeterminado del cuerpo */

 }

 .modal_lg {
     width: 1300px !important;
     margin-left: -450px;
 }

 .table-req-fact tr th {
     background-color: #0045A5;
     color: white;
 }

 @media only screen and(max-width: 500px) {
     .modal_lg {
         width: 100% !important;
     }
 }

 @media only screen and(max-width: 720px) {
     .modal_lg {
         width: 1000px !important;
     }
 }

 /*------*/

 .btn-pink {
     background-color: rgb(214, 72, 126);
     color: white;
 }

 .btn-pink:hover {
     background-color: rgb(201, 41, 103);
     color: white;
 }

 .btn-pink:focus,
 .btn-pink.focus {
     background-color: rgb(201, 41, 103);
     color: white;
 }

 .btn-oliva {
    background-color: #0097FF;
    color: white;
}

.btn-oliva:hover {
    background-color: #0771b9;
    color: white;
}

.btn-oliva:focus,
.btn-oliva.focus {
    background-color: #0771b9;
    color: white;
}
